<footer class="footer">
  <div class="footer-top">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <div class="logo">
            <img src="/assets/images/logo@4x.png" height="36px" alt="logo" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4">
          <ul class="list-inline text-left">           
          </ul>
        </div>
        <div class="col-sm-12 col-lg-4 order-last">
          <p class="text-center">© BanyanOps 20{{ site.time | date: '%y' }}. All rights reserved</p>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
          <ul class="list-inline text-right">
            <li class="list-inline-item"><a href="https://twitter.com/BanyanSecurity" target="_blank" title="Follow on Twitter"><i class="zmdi zmdi-twitter"></i></a></li>
            <li class="list-inline-item"><a href="https://www.linkedin.com/company/6416732" target="_blank" title="Follow on LinkedIn"><i class="zmdi zmdi-linkedin"></i></a></li>
            <li class="list-inline-item"><a href="https://github.com/banyanops" target="_blank" title="Fork on GitHub"><i class="zmdi zmdi-github"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
