//
// Fonts
//

$fonts-path:  "../fonts";
$img-path:  "../img";
$open_sans-path:  "#{$fonts-path}/open_sans";

//
// Brand colors
//

$brand-primary: 		#23B9D8;
$brand-secondary: 		#16839E;

$brand-success:         #00C884;
$brand-warning:         #FDCE3A;
$brand-danger:          #E52F18;

// Set for bootstrap
$font-family-base: 'Open Sans', sans-serif;
$primary: #00C1DE;
$body-color: #031828;
$pre-color: #d63384;

// Accordion used in what-is-banyan
$accordion-color: $brand-primary;


//
// Pages
//

$dark-background: 		#00051C;
$footer-color:			#02101b;